*
!.gitignore
!author
!Makefile
!fillit.en.pdf
!fillit.svg
!tetriminos
!includes
!includes/fillit.h
!includes/tetriminos.h
!srcs
!srcs/*.c
!srcs/libft
!srcs/libft/Makefile
!srcs/libft/*.c
!srcs/libft/libft.h
!test
!test/*
!README.md
